ThirdChallenge/exercise/EQ2.json
[
    {
        "id": "5268f1da625ea1e3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86e795f62a60a756",
        "type": "group",
        "z": "5268f1da625ea1e3",
        "name": "Node-RED",
        "style": {
            "stroke": "#ff3f3f",
            "label": true
        },
        "nodes": [
            "743a1e53ac425edd",
            "efaf717892a467db",
            "7f608d46bd8f3e88",
            "5b50a268b892fbb0"
        ],
        "x": 414,
        "y": 479,
        "w": 972,
        "h": 82
    },
    {
        "id": "54f34fb1c7e08c8f",
        "type": "group",
        "z": "5268f1da625ea1e3",
        "name": "End node",
        "style": {
            "label": true,
            "stroke": "#ffC000"
        },
        "nodes": [
            "853e9584f93105d0",
            "1f6f55421f13d672"
        ],
        "x": 414,
        "y": 259,
        "w": 452,
        "h": 82
    },
    {
        "id": "da3b2ce77f613957",
        "type": "group",
        "z": "5268f1da625ea1e3",
        "name": "The Things Network",
        "style": {
            "label": true,
            "stroke": "#3f93cf"
        },
        "nodes": [
            "3f7af513f199f060"
        ],
        "x": 954,
        "y": 259,
        "w": 252,
        "h": 82
    },
    {
        "id": "853e9584f93105d0",
        "type": "function",
        "z": "5268f1da625ea1e3",
        "g": "54f34fb1c7e08c8f",
        "name": "DHT22",
        "func": "var CHANNEL_ID = 2931213;\nvar field1=Math.random()*10;\nvar field2=Math.random()*10;\nmsg.topic = 'channels/'+CHANNEL_ID+'/publish';\nmsg.payload='field1='+field1+'&field2='+field2+'&status=MQTTPUBLISH';\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "1f6f55421f13d672"
            ]
        ]
    },
    {
        "id": "3f7af513f199f060",
        "type": "mqtt out",
        "z": "5268f1da625ea1e3",
        "g": "da3b2ce77f613957",
        "name": "MQTT → ThingSpeak",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f62d93d45b103b0b",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "7b6d77b814c7bf90",
        "type": "inject",
        "z": "5268f1da625ea1e3",
        "name": "New measurement",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "853e9584f93105d0"
            ]
        ]
    },
    {
        "id": "743a1e53ac425edd",
        "type": "mqtt in",
        "z": "5268f1da625ea1e3",
        "g": "86e795f62a60a756",
        "name": "Subscribe to ThingSpeak channel",
        "topic": "channels/2931213/subscribe/fields/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f62d93d45b103b0b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 520,
        "wires": [
            [
                "efaf717892a467db"
            ]
        ]
    },
    {
        "id": "efaf717892a467db",
        "type": "function",
        "z": "5268f1da625ea1e3",
        "g": "86e795f62a60a756",
        "name": "Read packet",
        "func": "let topic = msg.topic;\nlet value = parseFloat(msg.payload);\n\nif (topic.includes(\"field1\")) {\n    flow.set(\"temperature\", value);\n} else if (topic.includes(\"field2\")) {\n    flow.set(\"humidity\", value);\n}\n\nlet temp = flow.get(\"temperature\");\nlet hum = flow.get(\"humidity\");\n\nif (temp !== undefined && hum !== undefined) {\n    msg.payload = {\n        temp: temp,\n        hum: hum\n    };\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 520,
        "wires": [
            [
                "7f608d46bd8f3e88"
            ]
        ]
    },
    {
        "id": "7f608d46bd8f3e88",
        "type": "function",
        "z": "5268f1da625ea1e3",
        "g": "86e795f62a60a756",
        "name": "temp/hum",
        "func": "let temp = msg.payload.temp;\nlet hum = msg.payload.hum;\n\nlet ratio = (temp / hum).toFixed(3);\n\nmsg.payload = ratio;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 520,
        "wires": [
            [
                "5b50a268b892fbb0"
            ]
        ]
    },
    {
        "id": "5b50a268b892fbb0",
        "type": "ui_gauge",
        "z": "5268f1da625ea1e3",
        "g": "86e795f62a60a756",
        "name": "Show temp/hum",
        "group": "f2b01e62c4d0dea7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 520,
        "wires": []
    },
    {
        "id": "1f6f55421f13d672",
        "type": "function",
        "z": "5268f1da625ea1e3",
        "g": "54f34fb1c7e08c8f",
        "name": "Arduino MRK WAN 1310",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 300,
        "wires": [
            [
                "3f7af513f199f060"
            ]
        ]
    },
    {
        "id": "f62d93d45b103b0b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": 1883,
        "clientid": "ChMYECwnFyIvFyMVFRUeHhY",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f2b01e62c4d0dea7",
        "type": "ui_group",
        "name": "Default",
        "tab": "96da587a5b69f3f9",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "96da587a5b69f3f9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]